body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;

}

.header {
  background-image: url(../images/the-flatiron-building.png);
}

a {
  font-size: 18px;
  color: white;
}


h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.content p {
  font-size: 14px;
}

#subheaderoutside {
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}

.footer {
  background-color: dimgray;
  text-align: left;
}

.footer p {
  font-size: 11px;
  color: white;
  float: left;
  line-height: 4px;
  padding-right: 0.5em;
}

.footer a {
  float: none;
}
